/* #collasible-nav-dropdown{
    background-color:#0dcaf0;
} */
.navbar-nav .dropdown-menu{
    background-color:#fff;
}
.navbar-toggler-icon{
    background-color: #b02a37;
}
.dropdown-toggle::after{
    background-color: black;
}
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  }